name: Unipro Automation Suite

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

  schedule:
    # Runs at 7:15 AM Mauritius Time, Mon-Fri
    - cron: '15 3 * * 1-5'

permissions:
  contents: write
  pages: write
  id-token: write

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    # 1. Checkout the code
    - name: Checkout Code
      uses: actions/checkout@v4

    # 2. Setup Python
    - name: Set up Python 3.10
      uses: actions/setup-python@v5
      with:
        python-version: "3.10"

    # 3. Install Dependencies
    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

    # 4. Create Directory for Screenshots (Prevents potential error in environment.py)
    - name: Create Screenshots Directory
      run: mkdir -p screenshots

    # 5. Run Behave Tests
    # We output results to 'allure-results' folder
    - name: Run Behave Tests
      continue-on-error: true  # Continue even if tests fail so we can generate report
      run: |
        behave -f allure_behave.formatter:AllureFormatter -o allure-results ./features
      

    # 6. Generate Allure Report
    - name: Get Allure history
      uses: actions/checkout@v4
      if: always()
      continue-on-error: true
      with:
        ref: gh-pages
        path: gh-pages

    - name: Fix permissions for Allure History
      continue-on-error: true
      run: |
        sudo chmod -R 777 gh-pages

    - name: Allure Report Action with History
      uses: simple-elf/allure-report-action@master
      if: always()
      with:
        allure_results: allure-results
        allure_history: allure-history
        keep_reports: 20

    # 7. Publish Report to GitHub Pages
    - name: Deploy Report to GitHub Pages
      if: always()
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_branch: gh-pages
        publish_dir: allure-history